<div class="flex justify-center items-center min-h-screen bg-slate-100">
    <div class="p-6 max-w-xs sm:max-w-sm bg-white rounded-xl shadow-lg">
        <h2 class="text-center font-bold my-4 block">Login</h2>
        <form [formGroup]="loginForm">
            <!-- Email field -->
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="email" formControlName="email" id="email"
                        class="block
                            w-64
                            sm:w-72
                            rounded-md
                            border-0
                            py-1.5
                            px-3
                            text-gray-900
                            ring-1
                            ring-inset
                            ring-gray-300
                            placeholder:text-gray-400
                            focus:ring-2
                            focus:ring-inset
                            focus:ring-indigo-600
                            focus:outline-none
                            sm:text-sm
                            sm:leading-6"
                        placeholder="Enter your email"
                        [ngClass]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched ? 'placeholder:text-red-500 ring-red-500' : ''"
                        required
                        autocomplete="email">
                </div>
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    class="text-red-500
                        text-xs
                        absolute
                        mt-0.5">
                    Please enter a valid email.
                </div>
            </div>
            <!-- Password field -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="{{hiddePassword ? 'password' : 'text'}}" formControlName="password" id="password"
                        class="block
                            w-64
                            sm:w-72
                            rounded-md
                            border-0
                            py-1.5
                            px-3
                            pr-10
                            text-gray-900
                            ring-1
                            ring-inset
                            ring-gray-300
                            placeholder:text-gray-400
                            focus:ring-2
                            focus:ring-inset
                            focus:ring-indigo-600
                            focus:outline-none
                            sm:text-sm
                            sm:leading-6"
                        placeholder="At least 8 characters"
                        [ngClass]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ? 'placeholder:text-red-500 ring-red-500' : ''"
                        required
                        autocomplete="new-password">
                    <div class="absolute inset-y-0 right-0 flex items-center">
                        <button (click)="tooglePasswordVisibility()"
                            class="h-full
                                rounded-md
                                border-0
                                bg-transparent
                                flex
                                items-center
                                p-2
                                text-gray-500
                                focus:ring-2
                                focus:ring-inset
                                focus:ring-indigo-600
                                focus:outline-none
                                sm:text-sm">
                            <span class="material-symbols-outlined">
                                {{hiddePassword ? 'visibility' : 'visibility_off'}}
                            </span>
                        </button>
                    </div>
                </div>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-red-500
                        text-xs
                        absolute
                        mt-0.5">
                    Please enter a valid password.
                </div>
            </div>
            <div class="flex justify-center pt-2">
                <button type="submit"
                    (click)="onSubmit()"
                    class="rounded-md
                        p-2
                        px-5
                        bg-indigo-600
                        focus:ring-2
                        focus:ring-indigo-400
                        focus:outline-none
                        text-white"
                    [ngClass]="(loginForm.invalid || isLoad) ? 'bg-indigo-400 cursor-not-allowed' : ''"
                    [disabled]="loginForm.invalid || isLoad">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>