<header class="w-full flex justify-between items-center h-16">
    <a routerLink="/" class="text-2xl font-bold text-white">Logo</a>
    <nav class="ms-auto me-0">
        <ul class="flex items-center">
            @if(isAdminLogin || isCustomerLogin) {
                <li><a routerLink="/" class="mx-1">Trang chủ</a></li>
                <li><a routerLink="/order" class="mx-1">Sản phẩm</a></li>
                <li><a routerLink="/contact" class="mx-1">Liên hệ</a></li>
                <li><button (click)="tryLogOut()">Đăng xuất</button></li>
            }@else {
                <li><a routerLink="/" class="mx-1">Trang chủ</a></li>
                <li><a routerLink="/login" class="mx-1">Đăng nhập</a></li>
                <li><a routerLink="/signup" class="mx-1">Đăng ký</a></li>
            }
        </ul>
    </nav>
</header>