<div class="p-5 bg-white rounded-lg">
    <div class="mb-3">
        <button mat-raised-button
            color="primary"
            (click)="openDialog()"
            class="focus:ring-2
            focus:ring-indigo-300
            focus:ring-offset-1
            focus:outline-none
            !bg-indigo-500
            shadow-lg
            active:!shadow-lg
            hover:!shadow-lg">
            Thêm loại mới
        </button>
    </div>
    <app-category-list></app-category-list>
</div>